.hero {
  background-image: url(./img/Rectangle48.png);
  padding-top: 80px;
  padding-bottom: 162px;
}

.imglogo {
  width: 150px;
  height: 65px;
}

.order {
  background-image: url(./img/Rectangle.png);
  padding-top: 131px;
  padding-bottom: 130px;
}

.extra-gap {
  margin-left: 250px;
}
